In [ ]:
import pandas as pd
import seaborn as sns
import numpy as np

In [ ]:
# Configurações
work_directory = "../../combustiveis/"
dataset_name = "dataset_etanol_sp.csv"

In [12]:
df = pd.read_csv(work_directory + dataset_name, sep=",", decimal=".", encoding="cp860")

print("Dataset carregado. Quantidade de registros:" + str(len(df.index)))

Dataset carregado. Quantidade de registros:2032002

In [17]:
# Remover valores não-numéricos
df = df.dropna()

In [ ]:
df.columns

In [ ]:
df

In [19]:
# Valor médio do preço de venda
np.mean(df["Valor de Venda"])

1.6629390402248847

In [20]:
# Valores médios de venda e compra agrupados por semestre
df.groupby("Semestre").mean()

          Valor de Venda  Valor de Compra
Semestre
2004-01         0.853803         0.655885
2004-02         1.105934         0.904303
2005-01         1.173601         0.962200
2005-02         1.196083         0.994209
2006-01         1.593693         1.360515
2006-02         1.307736         1.077139
2007-01         1.415540         1.149162
2007-02         1.166496         0.901118
2008-01         1.288166         1.032886
2008-02         1.305788         1.054954
2009-01         1.286642         1.008392
2009-02         1.445217         1.202599
2010-01         1.569503         1.290671
2010-02         1.513144         1.260645
2011-01         1.890937         1.616038
2011-02         1.886622         1.639492
2012-01         1.876735         1.606744
2012-02         1.795327         1.501677
2013-01         1.910603         1.619711
2013-02         1.801363         1.508290
2014-01         2.006296         1.723811
2014-02         1.904032         1.581438
2015-01         2.052518         1.685371
2015-02         2.183401         1.829047
2016-01         2.551114         2.169987
2016-02         2.492579         2.162544
2017-01         2.584206         2.212517
2017-02         2.504164         2.144414
2018-01         2.840865         2.473666
2018-02         2.674780         2.314709
2019-01         2.761264         2.401310
2019-02         2.726890         2.431812
2020-01         2.820597         2.472355
2020-02         2.587346         2.211193