### Importando as bibliotecas necessárias

In [2]:
import seaborn as sns
import petl as etl

### Importando o dataset "Iris" da base de exemplos do Seaborn

In [ ]:
iris = sns.load_dataset('iris')
dados = etl.fromdataframe(iris)

### Primeira visualização do dataset

In [19]:
iris

     sepal_length  sepal_width  petal_length  petal_width    species
0             5.1          3.5           1.4          0.2     setosa
1             4.9          3.0           1.4          0.2     setosa
2             4.7          3.2           1.3          0.2     setosa
3             4.6          3.1           1.5          0.2     setosa
4             5.0          3.6           1.4          0.2     setosa
..            ...          ...           ...          ...        ...
145           6.7          3.0           5.2          2.3  virginica
146           6.3          2.5           5.0          1.9  virginica
147           6.5          3.0           5.2          2.0  virginica
148           6.2          3.4           5.4          2.3  virginica
149           5.9          3.0           5.1          1.8  virginica

[150 rows x 5 columns]

### Visualizando os fieldnames do dataset

In [20]:
dados.fieldnames()

('sepal_length', 'sepal_width', 'petal_length', 'petal_width', 'species')

### Exibindo uma quantidade específica de dados

In [21]:
dados.display(5)

sepal_length,sepal_width,petal_length,petal_width,species
5.1,3.5,1.4,0.2,setosa
4.9,3.0,1.4,0.2,setosa
4.7,3.2,1.3,0.2,setosa
4.6,3.1,1.5,0.2,setosa
5.0,3.6,1.4,0.2,setosa

### Contabilizando a quantidade total de linhas do dataset

In [22]:
dados.nrows()

150

### Funções para transformação, para adicionar á area das Sépalas e das Pétalas

In [23]:
def sepal_area(row):
    return round(row["sepal_length"] * row["sepal_width"], 3)

def petal_area(row):
    return round(row["petal_length"] * row["petal_width"], 3)

### Calculando área das Sépalas e das Pétalas

In [24]:
dados = dados.addfield("sepal_area", sepal_area)
dados = dados.addfield("petal_area", petal_area)

dados.display(10)

sepal_length,sepal_width,petal_length,petal_width,species,sepal_area,petal_area
5.1,3.5,1.4,0.2,setosa,17.85,0.28
4.9,3.0,1.4,0.2,setosa,14.7,0.28
4.7,3.2,1.3,0.2,setosa,15.04,0.26
4.6,3.1,1.5,0.2,setosa,14.26,0.3
5.0,3.6,1.4,0.2,setosa,18.0,0.28
5.4,3.9,1.7,0.4,setosa,21.06,0.68
4.6,3.4,1.4,0.3,setosa,15.64,0.42
5.0,3.4,1.5,0.2,setosa,17.0,0.3
4.4,2.9,1.4,0.2,setosa,12.76,0.28
4.9,3.1,1.5,0.1,setosa,15.19,0.15

### Realizando Corte das áreas geradas

In [25]:
sepals = dados.cut(["sepal_length", "sepal_width", "sepal_area"])

sepals

+--------------+-------------+------------+
| sepal_length | sepal_width | sepal_area |
+==============+=============+============+
|          5.1 |         3.5 |      17.85 |
+--------------+-------------+------------+
|          4.9 |         3.0 |       14.7 |
+--------------+-------------+------------+
|          4.7 |         3.2 |      15.04 |
+--------------+-------------+------------+
|          4.6 |         3.1 |      14.26 |
+--------------+-------------+------------+
|          5.0 |         3.6 |       18.0 |
+--------------+-------------+------------+
...

In [26]:
petals = dados.cut(["petal_length", "petal_width", "petal_area"])

petals

+--------------+-------------+------------+
| petal_length | petal_width | petal_area |
+==============+=============+============+
|          1.4 |         0.2 |       0.28 |
+--------------+-------------+------------+
|          1.4 |         0.2 |       0.28 |
+--------------+-------------+------------+
|          1.3 |         0.2 |       0.26 |
+--------------+-------------+------------+
|          1.5 |         0.2 |        0.3 |
+--------------+-------------+------------+
|          1.4 |         0.2 |       0.28 |
+--------------+-------------+------------+
...

### Separando dados em treino

In [36]:
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
from sklearn import (ensemble, model_selection, preprocessing, tree)
from sklearn.metrics import (auc, confusion_matrix, roc_auc_score, roc_curve)
from sklearn.model_selection import(train_test_split, StratifiedKFold)
from yellowbrick.classifier import (ConfusionMatrix, ROCAUC)
from yellowbrick.model_selection import (LearningCurve)

import janitor as jn

In [30]:
X, y = jn.get_features_targets(iris, target_columns='petal_length')

In [33]:
X_treino, X_test, Y_treino, Y_test = model_selection.train_test_split(X, y, test_size=0.3, random_state=42)

In [34]:
X_treino

     sepal_length  sepal_width  petal_width     species
81            5.5          2.4          1.0  versicolor
133           6.3          2.8          1.5   virginica
137           6.4          3.1          1.8   virginica
75            6.6          3.0          1.4  versicolor
109           7.2          3.6          2.5   virginica
..            ...          ...          ...         ...
71            6.1          2.8          1.3  versicolor
106           4.9          2.5          1.7   virginica
14            5.8          4.0          0.2      setosa
92            5.8          2.6          1.2  versicolor
102           7.1          3.0          2.1   virginica

[105 rows x 4 columns]